body{
    background: #fff;
}

  header{ 
    background: #FAFAFA;
    border-bottom: 1px solid #ccc;
 a{
        box-sizing: border-box;
        width: 25%;
        display: inline-block;
        margin-left: -3px;
        text-align: center;
        padding: 12px;
        background: red
        
     fa{
            color: #111;
            font-size: 25px;
        }
    }
}